<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: rgb(89, 230, 23);
        }
        h1{
            text-decoration: underline;
        }
        a{
            color: gray;
        }
    </style>
</head>
<body>
    <h1>Welcome to MiniChat App</h3>

    <h4>This is a simple chat-based mini project developed using MongoDB and Express.js. <br>The core idea is to demonstrate backend integration and CRUD operations — allowing users to Add, Read, Update, and Delete messages.</h4>

    <ul><h3>Project Highlights:</h3>
        <li>Built with MongoDB and Express.js</li>
        <li>Backend-focused implementation</li>
        <li>Basic messaging features</li>
        <li>RESTful API-based communication</li>
    </ul>
    <p>Please note: The focus of this project is on backend functionality, so the frontend is kept minimal and straightforward.</p>

    <a href="/chats">See all chats</a>
</body>
</html>