<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Info</title>
</head>
<body>
    <h3>Users Info:</h3>
    <table border="3px solid black">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>

        <% for(let i=0;i<result.length;i++){ %>
            <tr>
                <td><%= result[i]["id"] %> </td>
                <td><%= result[i]["username"] %> </td>
                <td><%= result[i]["email"] %> </td>
                <td>
                    <form method="GET" action="/user/<%= result[i]["id"] %> /edit">
                        <button>Edit Username</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>